# Pearson's product-moment correlation for IB Diploma Mathematics

# Introduction

In this article, I use Python to analyze bivariate data using Pearon's product-momnet correlation coefficient `r`, drawing scatter diagrams, lines of best fit and the regression line.

Bivariate data involves two types of related data. Pearson's product-moment correlation coefficient tells you how linearly these two data are related.


We can display the collected data on a graph called a scatter plot. The horizontal axis is called x-axis and we call the coordinate of x-axis the independent variable. The vertical axis is called y-axis and we call the coordinate of y-axis the dependent variable.   


I downloaded the data from this [link](https://stats.oecd.org/Index.aspx?DataSetCode=HOUSE_PRICES).

In [29]:
import pandas as pd
import numpy as np

his_pop = pd.read_csv('https://raw.githubusercontent.com/shinokada/python-for-ib-diploma-mathematics/master/Data/historical_population.csv')
print(his_pop.shape)
print(his_pop.head(30))

(68208, 11)
   LOCATION    Country SEX    Sex    AGE    Age  TIME  Time       Value  \
0       AUS  Australia   W  Women  TOTAL  Total  2005  2005  10157211.0
1       AUS  Australia   W  Women  TOTAL  Total  2006  2006  10291542.0
2       AUS  Australia   W  Women  TOTAL  Total  2007  2007  10473986.0
3       AUS  Australia   W  Women  TOTAL  Total  2008  2008  10677154.0
4       AUS  Australia   W  Women  TOTAL  Total  2009  2009  10890856.0
5       AUS  Australia   W  Women  TOTAL  Total  2010  2010  11063919.0
6       AUS  Australia   W  Women  TOTAL  Total  2011  2011  11221790.0
7       AUS  Australia   W  Women  TOTAL  Total  2012  2012  11420486.0
8       AUS  Australia   W  Women  TOTAL  Total  2013  2013  11621964.0
9       AUS  Australia   W  Women  TOTAL  Total  2014  2014  11807800.0
10      AUS  Australia   W  Women  TOTAL  Total  2015  2015  11988343.0
11      AUS  Australia   W  Women  TOTAL  Total  2016  2016  12187868.0
12      AUS  Australia   W  Women  TOTAL  Total  2017  2017  12398090.0
13      AUS  Australia   W  Women  TOTAL  Total  2018  2018  12595459.0
14      AUS  Australia   M    Men  TOTAL  Total  2005  2005  10019633.0
15      AUS  Australia   M    Men  TOTAL  Total  2006  2006  10159424.0
16      AUS  Australia   M    Men  TOTAL  Total  2007  2007  10353636.0
17      AUS  Australia   M    Men  TOTAL  Total  2008  2008  10572045.0
18      AUS  Australia   M    Men  TOTAL  Total  2009  2009  10800797.0
19      AUS  Australia   M    Men  TOTAL  Total  2010  2010  10967831.0
20      AUS  Australia   M    Men  TOTAL  Total  2011  2011  11118234.0
21      AUS  Australia   M    Men  TOTAL  Total  2012  2012  11312979.0
22      AUS  Australia   M    Men  TOTAL  Total  2013  2013  11506165.0
23      AUS  Australia   M    Men  TOTAL  Total  2014  2014  11667886.0
24      AUS  Australia   M    Men  TOTAL  Total  2015  2015  11827652.0
25      AUS  Australia   M    Men  TOTAL  Total  2016  2016  12003039.0
26      AUS  Australia   M    Men  TOTAL  Total  2017  2017  12203770.0
27      AUS  Australia   M    Men  TOTAL  Total  2018  2018  12397401.0
28      AUS  Australia   T  Total  TOTAL  Total  2005  2005  20176844.0
29      AUS  Australia   T  Total  TOTAL  Total  2006  2006  20450966.0

    Flag Codes  Flags
0          NaN    NaN
1          NaN    NaN
2          NaN    NaN
3          NaN    NaN
4          NaN    NaN
5          NaN    NaN
6          NaN    NaN
7          NaN    NaN
8          NaN    NaN
9          NaN    NaN
10         NaN    NaN
11         NaN    NaN
12         NaN    NaN
13         NaN    NaN
14         NaN    NaN
15         NaN    NaN
16         NaN    NaN
17         NaN    NaN
18         NaN    NaN
19         NaN    NaN
20         NaN    NaN
21         NaN    NaN
22         NaN    NaN
23         NaN    NaN
24         NaN    NaN
25         NaN    NaN
26         NaN    NaN
27         NaN    NaN
28         NaN    NaN
29         NaN    NaN

From the historical population data, let's select Australia's TIME and Value.

In [33]:
aus_pop = his_pop.loc[his_pop.Country=='Australia']
aus_total = aus_pop.loc[aus_pop.Sex =='Total']
aus_total.tail()

,LOCATION,Country,SEX,Sex,AGE,Age,TIME,Time,Value,Flag Codes,Flags
65893,AUS,Australia,T,Total,TOTD20-64,Total dependency ratio ((<20 & 65+) / 20-64),2014,2014,0.662,NaN,NaN
65894,AUS,Australia,T,Total,TOTD20-64,Total dependency ratio ((<20 & 65+) / 20-64),2015,2015,0.666,NaN,NaN
65895,AUS,Australia,T,Total,TOTD20-64,Total dependency ratio ((<20 & 65+) / 20-64),2016,2016,0.672,NaN,NaN
65896,AUS,Australia,T,Total,TOTD20-64,Total dependency ratio ((<20 & 65+) / 20-64),2017,2017,0.675,NaN,NaN
65897,AUS,Australia,T,Total,TOTD20-64,Total dependency ratio ((<20 & 65+) / 20-64),2018,2018,0.679,NaN,NaN

In [47]:
# Method 1

df = his_pop[(his_pop.Country=='Australia') & (his_pop.Sex =='Total')]

df_aus = df.loc[:,['Time','Value']]
print(df_aus.shape)
print(df_aus.head())

(406, 2)
    Time       Value
28  2005  20176844.0
29  2006  20450966.0
30  2007  20827622.0
31  2008  21249199.0
32  2009  21691653.0

In [45]:
# Method 2

aus = aus_total.loc[:,['Time','Value']]
print(aus.shape)
print(aus.head())

(406, 2)
    Time       Value
28  2005  20176844.0
29  2006  20450966.0
30  2007  20827622.0
31  2008  21249199.0
32  2009  21691653.0

In [87]:
hou_pri = pd.read_csv('https://raw.githubusercontent.com/shinokada/python-for-ib-diploma-mathematics/master/Data/house_price.csv')
print(hou_pri.shape)
print(hou_pri.head(30))

(3697, 15)
    COU  Country          IND                        Indicator     TIME  \
0   HUN  Hungary      HPI_RPI              Price to rent ratio  2016-Q1
1   HUN  Hungary      HPI_RPI              Price to rent ratio  2016-Q2
2   HUN  Hungary      HPI_RPI              Price to rent ratio  2016-Q3
3   HUN  Hungary      HPI_RPI              Price to rent ratio  2016-Q4
4   HUN  Hungary      HPI_RPI              Price to rent ratio  2017-Q1
5   HUN  Hungary      HPI_RPI              Price to rent ratio  2017-Q2
6   HUN  Hungary      HPI_RPI              Price to rent ratio  2017-Q3
7   HUN  Hungary      HPI_RPI              Price to rent ratio  2017-Q4
8   HUN  Hungary      HPI_RPI              Price to rent ratio  2018-Q1
9   HUN  Hungary      HPI_RPI              Price to rent ratio  2018-Q2
10  HUN  Hungary      HPI_RPI              Price to rent ratio  2018-Q3
11  HUN  Hungary      HPI_RPI              Price to rent ratio  2018-Q4
12  HUN  Hungary      HPI_RPI              Price to rent ratio  2019-Q1
13  HUN  Hungary      HPI_RPI              Price to rent ratio  2019-Q2
14  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2016-Q1
15  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2016-Q2
16  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2016-Q3
17  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2016-Q4
18  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2017-Q1
19  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2017-Q2
20  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2017-Q3
21  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2017-Q4
22  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2018-Q1
23  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2018-Q2
24  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2018-Q3
25  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2018-Q4
26  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2019-Q1
27  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2019-Q2
28  CAN   Canada  HPI_YDH_AVG  Standardised price-income ratio  2019-Q3
29  MEX   Mexico          RHP   Real house price indices, s.a.  2016-Q1

       Time Unit Code    Unit  PowerCode Code PowerCode  \
0   Q1-2016       IDX   Index               0     Units
1   Q2-2016       IDX   Index               0     Units
2   Q3-2016       IDX   Index               0     Units
3   Q4-2016       IDX   Index               0     Units
4   Q1-2017       IDX   Index               0     Units
5   Q2-2017       IDX   Index               0     Units
6   Q3-2017       IDX   Index               0     Units
7   Q4-2017       IDX   Index               0     Units
8   Q1-2018       IDX   Index               0     Units
9   Q2-2018       IDX   Index               0     Units
10  Q3-2018       IDX   Index               0     Units
11  Q4-2018       IDX   Index               0     Units
12  Q1-2019       IDX   Index               0     Units
13  Q2-2019       IDX   Index               0     Units
14  Q1-2016         1  RATIOS               0     Units
15  Q2-2016         1  RATIOS               0     Units
16  Q3-2016         1  RATIOS               0     Units
17  Q4-2016         1  RATIOS               0     Units
18  Q1-2017         1  RATIOS               0     Units
19  Q2-2017         1  RATIOS               0     Units
20  Q3-2017         1  RATIOS               0     Units
21  Q4-2017         1  RATIOS               0     Units
22  Q1-2018         1  RATIOS               0     Units
23  Q2-2018         1  RATIOS               0     Units
24  Q3-2018         1  RATIOS               0     Units
25  Q4-2018         1  RATIOS               0     Units
26  Q1-2019         1  RATIOS               0     Units
27  Q2-2019         1  RATIOS               0     Units
28  Q3-2019         1  RATIOS               0     Units
29  Q1-2016       IDX   Index               0     Units

    Reference Period Code  Reference Period       Value  Flag Codes  Flags
0                     NaN               NaN  104.842911         NaN    NaN
1                     NaN               NaN  106.345921         NaN    NaN
2                     NaN               NaN  108.538605         NaN    NaN
3                     NaN               NaN  111.359379         NaN    NaN
4                     NaN               NaN  114.353281         NaN    NaN
5                     NaN               NaN  116.252465         NaN    NaN
6                     NaN               NaN  118.046092         NaN    NaN
7                     NaN               NaN  120.801072         NaN    NaN
8                     NaN               NaN  123.457674         NaN    NaN
9                     NaN               NaN  126.404983         NaN    NaN
10                    NaN               NaN  129.280250         NaN    NaN
11                    NaN               NaN  131.809932         NaN    NaN
12                    NaN               NaN  132.482872         NaN    NaN
13                    NaN               NaN  131.779296         NaN    NaN
14                    NaN               NaN  135.267057         NaN    NaN
15                    NaN               NaN  137.482825         NaN    NaN
16                    NaN               NaN  141.628476         NaN    NaN
17                    NaN               NaN  144.261771         NaN    NaN
18                    NaN               NaN  149.217309         NaN    NaN
19                    NaN               NaN  151.301775         NaN    NaN
20                    NaN               NaN  152.659186         NaN    NaN
21                    NaN               NaN  151.312350         NaN    NaN
22                    NaN               NaN  153.713141         NaN    NaN
23                    NaN               NaN  154.036392         NaN    NaN
24                    NaN               NaN  154.035188         NaN    NaN
25                    NaN               NaN  153.910760         NaN    NaN
26                    NaN               NaN  153.049804         NaN    NaN
27                    NaN               NaN  149.849113         NaN    NaN
28                    NaN               NaN  148.857395         NaN    NaN
29                    NaN               NaN  102.768652         NaN    NaN

In [86]:
# Method 1
df2 = hou_pri[hou_pri.Country=='Australia']
df2_price = df2.loc[:,['Country','Time','Value']]
print(df2_price.head(20))
print(df2_price.tail())

       Country     Time       Value
529  Australia  Q1-2016  102.570469
530  Australia  Q2-2016  103.251741
531  Australia  Q3-2016  105.334393
532  Australia  Q4-2016  109.248320
533  Australia  Q1-2017  111.593724
534  Australia  Q2-2017  113.245666
535  Australia  Q3-2017  113.708239
536  Australia  Q4-2017  112.560830
537  Australia  Q1-2018  112.363033
538  Australia  Q2-2018  110.617956
539  Australia  Q3-2018  109.673227
540  Australia  Q4-2018  105.364992
541  Australia  Q1-2019  102.057250
542  Australia  Q2-2019  100.833799
964  Australia  Q1-2016  101.935010
965  Australia  Q2-2016  102.975399
966  Australia  Q3-2016  104.829562
967  Australia  Q4-2016  108.327238
968  Australia  Q1-2017  110.908845
969  Australia  Q2-2017  111.901693
        Country     Time       Value
2686  Australia  Q3-2018  102.094208
2687  Australia  Q4-2018  102.245865
2688  Australia  Q1-2019  102.366740
2689  Australia  Q2-2019  102.406175
2690  Australia  Q3-2019  102.463117

In [81]:
# Method 2
df3 = hou_pri.loc[hou_pri.Country=='Australia']
df3_price = df2.loc[:,['Value']]
print(df3_price.head())
print(df3_price.tail())

          Value
529  102.570469
530  103.251741
531  105.334393
532  109.248320
533  111.593724
           Value
2686  102.094208
2687  102.245865
2688  102.366740
2689  102.406175
2690  102.463117

In [80]:
df3_price=df3_price.reset_index()


df3_price['Value'].groupby(df3_price.index//4).mean()

0     105.101231
1     112.777115
2     109.504802
3     101.950365
4     108.991834
5     111.327483
6     103.470490
7     138.642786
8     148.768319
9     144.451694
10    118.175152
11    109.565973
12    112.723762
13    106.031141
14    153.444906
15    165.214896
16    161.789916
17    127.333894
18    110.737335
19    114.692682
20    108.436437
21    100.752063
22    101.390163
23    102.051038
24    102.412011
Name: Value, dtype: float64

# Conclusion

Here goes conclusion